@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html {

  background-color: #FDF3E7; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
  height: 90px;
  width:auto;
  background-color: #C63D0F;
  margin: auto;
  width: 100%;
  padding-top: 30px;


}

* {
  margin: 0;
  padding: 0;
}

.topElements {
  margin:auto;

  font-size: 35px;
  text-align: center;
  font-family: fantasy;
  font: Comic Sans MS;
  padding-left: 10px;
  padding-right: 10px;
  float:left;
}

a:link    {
  text-decoration:  none;
  font-weight:      bold;
  background-color: #C63D0F;
  color:            #ffdd00;
  }
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #C63D0F;
  color:            #ffdd00
  }
a:hover   {
  /* Applies to links under the pointer */
  font-weight:      bold;
  background-color: #C63D0F;
  color:            #fff;
  }
a:active  {
  /* Applies to activated links */
  font-weight:      bold;
  background-color: #C63D0F;
  color: #007fff;
  }

#locationField {
  text-align: center;
  width: auto;
  height: 500px;
  background-image: url("/static/images/docAnimated.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(168,209,229);
}


#autocomplete {
  position: relative;
  top: 250px;
  height: 40px;
  width: 500px;
  margin: auto;
  border-radius: 3px;
  border: 2px solid black;
}

.footer {
  width: auto;
  height: 100px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-form, .registration-form {
  text-align: center;
  width: auto;
  height: 500px;
}

input[type=text], input[type=password], input[type=email] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 3px;
    border: 4px solid black;
}

label {
  color: blue;
  font-family: fantasy;
  font: Comic Sans MS;
  font-size: 20px;

}

button, input[type="button"], input[type="submit"] {
  color: white;
  padding-top: 7px;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: 4px 30px;
}


button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  color: black;
  background-color: yellow;
  border-radius: 3px;
  border: 4px solid orange;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}



select {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 3px;
  border: 4px solid black;
}

select:focus {
  border-radius: 3px;
  border: 4px solid orange;
}
