certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.4.2
Django==2.2.24
django-location-field==2.0.3
django-mathfilters==0.4.0
geopy==1.11.0
googlemaps==2.5.1
gunicorn==19.7.1
idna==2.6
matplotlib==2.1.0
mock==2.0.0
mpmath==1.0.0
names==0.3.0
numpy==1.13.3
pbr==3.1.1
Pillow==2.9.0
psycopg2==2.7.1
pygame==1.9.3
pyglet==1.2.4
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
responses==0.3.0
selenium==3.7.0
six==1.11.0
sympy==1.1.1
urllib3==1.22
whitenoise==3.3.1
