dj-database-url==0.4.2
Django==1.11.5
gunicorn==19.7.1
mpmath==1.0.0
pygame==1.9.3
pyglet==1.2.4
pytz==2017.2
sympy==1.1.1
whitenoise==3.3.1
psycopg2==2.7.1
six==1.11.0
django-mathfilters==0.4.0
geopy==1.11.0
googlemaps==2.5.1
idna==2.6
names==0.3.0
numpy==1.13.3
python-dateutil==2.6.1
requests==2.18.4
responses==0.3.0
