{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div id="locationField">
  <input id="autocomplete" placeholder="Enter Speciality or Your current Address"
         onFocus="geolocate()" type="text"></input>
</div>
<script>
var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYCiTaPolA8Y-JbDjXTmfpjuJ-FaJAR8Q&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}
