{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 center-block">
    <div class="input-group">
       <form action="." method="post" enctype="multipart/form-data">
          {{ search_form.as_p }}
          {% csrf_token %}
          <input type="submit" value="Go">
      </form>
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-6 -->
</div>
{% for doctor in doctors %}
<div class="w-75 mx-auto">
  <div style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);"
        class="card w-100 bg-dark text-secondary mb-3">
    <div class="card-header bg-dark text-secondary">{{ doctor.address }}
    </div>
    <div class="card-body">
    <h4 class="card-title text-info">{{ doctor.fullname }}</h4>
    <p class="card-text">Organization:{{ doctor.organization }}</p>
    <p class="card-text">Specialization:{{ doctor.specialization }}</p>
    <p class="card-text">Rating:{{ doctor.rating }}</p>
    <a style="text-dark" href="#" class="btn btn-raised active btn-info">Make an Appointment</a>
  </div>
</div>
<br>
</div>
{% endfor %}
{% endblock %}
