{% extends "base.html" %}
{% block title %}Make Appointment{% endblock %}
  {% block content %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 30%;
      width: 30%;
      float : right;
      border-style: solid;
      border-width: 5px;
      margin-top: 10px;
      margin-right: 30px;

    }

    #card {
      float : left;
      margin-top: 10px;
      margin-right: 30px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      padding: 0;
    }
  </style>
  <script>
    function status(){
      alert("Appointment Successful!")
    }
  </script>
  <script>

    function initMap() {
      var myLatLng = {lat: 41.2735161, lng: -95.9713322};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
    <div id="map"></div>
    <div class="w-50 mx-auto" id="card">
      <div style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);"
            class="card w-100 bg-dark text-secondary mb-3">
        <div class="card-header bg-dark text-secondary">{{ doctor.address }}
        </div>
        <div class="card-body">
        <p class="card-text" float="right">
        </p>
        <h4 class="card-title text-info">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h4>
        <p class="card-text">Organization:{{ doctor.organization }}</p>
        <p class="card-text">Specialization:{{ doctor.specialization }}</p>
        <p class="card-text">Insurance Accepted:{{ doctor.insurance }}</p>
        <p class="card-text">Rating:{{ doctor.rating }}</p>
        <form action="." method="post" enctype="multipart/form-data">
          <p class="card-text">
            {{ appointment_form.as_p }}
           {% csrf_token %}
         <button type="submit" onclick="status()" class="save btn btn-default">Save</button>
        </form>
        </p>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYCiTaPolA8Y-JbDjXTmfpjuJ-FaJAR8Q&libraries=places&callback=initMap" async defer></script>
  {% endblock %}
