{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<script>
function removeHelpText() {
  var parent = document.getElementsByClassName("registration-form")[0];
  var child = document.getElementByClassName("helptext");
  parent.removeChild(child);
}
</script>
<div class="registration-form" onload="removeHelpText()">
<form action="." method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Create my account"></p>
</form>
</div>
{% endblock %}
